@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border: 1px solid #c2c2c2;
    outline: #201e1f;
    border-radius: 4px;
}

.active{
    background-color: #757373;
    border-color: #201e1f;
}